{{>header}}
<link rel="stylesheet" href="/css/postFiles.css">

<section class="files-container">
    <!-- Tabs Navigation -->
    <div class="post-tabs">
        <a href="/subjects/{{subject.id}}/posts/{{post.id}}" class="post-tab">Chat</a>
        <a href="/subjects/{{subject.id}}/posts/{{post.id}}/files" class="post-tab active">Files</a>
    </div>


    <h1>Manage Files</h1>

    <!-- Upload Section -->
    <form action="/subjects/{{subject.id}}/posts/{{post.id}}/upload" method="post" enctype="multipart/form-data" class="upload-form">
        <input type="file" name="file" required>
        <button type="submit" class="upload-btn">Upload File</button>
    </form>

    <hr>

    <!-- File List -->
    <h2>Available Files</h2>
    <ul class="file-list">
        {{#files}}
        <li class="file-item">
            <a href="/subjects/{{subject.id}}/posts/{{post.id}}/download/{{name}}">{{name}}</a>
            <a href="/subjects/{{subject.id}}/posts/{{post.id}}/delete-file/{{name}}" class="delete-icon">❌</a>
        </li>
        {{/files}}
        {{^files}}
        <p>No files uploaded yet.</p>
        {{/files}}
    </ul>
</section>

{{>footer}}
