<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniTalk</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="icon" href="/images/mini.png" type="image/x-icon">
</head>
<body>
<header>
    <div class="header-container">
        <a href="/" class="logo">
            <img src="/images/unitalklogo1.png" alt="UniTalk Logo">
        </a>
        <nav>
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="/subjects">Subjects</a></li>
                <li><a href="/subjects/my">Forum</a></li>
                <li><a href="/user">Profile</a></li>
                <li>  <a href="#" onclick="logout()">Logout</a></li>
            </ul>
        </nav>
    </div>
    <script>
        function logout() {
            const token = "{{token}}";
            const form = document.createElement('form');
            form.method = 'POST';
            form.action = '/logout';
            const input = document.createElement('input');
            input.type = 'hidden';
            input.name = '_csrf';
            input.value = token;
            form.appendChild(input);
            document.body.appendChild(form);
            form.submit();
        }
    </script>

</header>
