<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UniTalk - Home</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
{{>header}}
<!-- <header>
    <img src="/images/unitalklogo1.png" alt="Unitalk Logo" id="logounitalkindex">
</header>  -->
<section>
    <h2>Bienvenido a la Red Universitaria</h2>
    <p>
        Esta plataforma ofrece un servicio integral para alumnos universitarios, que incluye un chat en tiempo real y un apartado de archivos exclusivo para cada asignatura. Conecta con tus compañeros, comparte recursos y colabora en tus proyectos de forma sencilla y segura.
    </p>
    <p>Accede a tus asignaturas: <a href="chat.html" class="btn">Ver Asignaturas</a></p>
</section>
</body>
</html>
