{{>header}}
<link rel="stylesheet" href="/css/subjectPosts.css">

<section class="subject-posts-container">
    <div class="title-bar">
        <h1 class="subject-title">{{subject.name}} - Forum</h1>
        <button class="btn create-post-btn" onclick="openCreatePostModal()"><span>
            <svg
              height="24"
              width="24"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path>
            </svg>
            Create Post
          </span>
        </button>
    </div>

    <div class="posts-list">
        {{#posts}}
        <div class="post-row" onclick="window.location.href='/subjects/{{subject.id}}/posts/{{id}}'">
            <div class="post-info">
                <a href="/subjects/{{subject.id}}/posts/{{id}}" class="post-title">{{title}}</a>
                <p class="post-description">{{shortDescription}}</p>
                <span class="post-meta">By {{user.username}} | {{formattedCreatedAt}}</span>
            </div>

            <form action="/subjects/{{subject.id}}/delete-post" method="post" class="delete-post-form">
                <input type="hidden" name="idPost" value="{{id}}">
                <button id="delete-post-btn" class="noselect"><span class="text">Delete</span><span class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 20.188l-8.315-8.209 8.2-8.282-3.697-3.697-8.212 8.318-8.31-8.203-3.666 3.666 8.321 8.24-8.206 8.313 3.666 3.666 8.237-8.318 8.285 8.203z"></path></svg></span></button>
            </form>
        </div>
        {{/posts}}
        {{^posts}}
        <p class="no-posts">No posts available for this subject.</p>
        {{/posts}}
    </div>
</section>

<div id="createPostModal" class="modal">
    <div class="modal-content">
        <span class="close" onclick="closeCreatePostModal()">&times;</span>
        <h2>Create New Post</h2>
        <form id="createPostForm" action="/subjects/{{id}}/create-post" method="post">
            <input type="hidden" name="subjectId" value="{{subject.id}}">
            <label for="postTitle">Post Title:</label>
            <input type="text" name="name" id="postTitle" required>

            <label for="postDescription">Description:</label>
            <textarea name="description" id="postDescription" required></textarea>

            <div class="modal-actions">
                <button type="submit" class="btn save">Create</button>
                <button type="button" class="btn cancel" onclick="closeCreatePostModal()">Cancel</button>
            </div>
        </form>
    </div>
</div>

<script src="/js/subjectPosts.js"></script>
{{>footer}}