<body>
{{>header}}
<link rel="stylesheet" href="/css/user.css>
<section class="profile-container">
    <div class="profile-header">
        <div class="profile-info">
            <h1>{{user.username}}'s Profile</h1>
            <p><strong>Email:</strong> {{user.email}}</p>
        </div>
        {{! TODO: METER FOTO USER}}
        {{! <div class="profile-image">
            <img src="{{user.profileImage}}" alt="User Profile Picture">
        </div>}}
    </div>

    <h2>Enrolled Subjects</h2>
    <div class="subjects-list">
        {{#user.subjects}}
        <div class="subject-card">
            <h3>{{name}}</h3>
            <form action="/user/subjects/unapply" method="post">
                <input type="hidden" name="subjectId" value="{{id}}">
                <button type="submit" class="btn unenroll">Unenroll</button>
            </form>
        </div>
        {{/user.subjects}}
        {{^user.subjects}}
        <p class="no-subjects">You are not enrolled in any subjects.</p>
        {{/user.subjects}}
    </div>
</section>

{{>footer}}
</body>
</html>
